body, p{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
body{
    background-color: whitesmoke;
}

h2{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

nav{
    position: fixed;
    height: 80px;
    background-color: #e3e3ba;
    display: flex;
    width: 100%;
    z-index: 1;
}

.ham-icon{
    display: none;
    margin: auto 0;    
}

#mobile-menu{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    opacity: 1;
    animation-name: fadeInWidth;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
    padding: 0% 2%;
}

#mobile-categories a{
    display: block;
    cursor: pointer;
    text-decoration: none;
    margin: 8px 2%;
    max-width: 90px;
}
#mobile-categories a:hover{transition:box-shadow, 0.5s; box-shadow: 1px 1px 2px black;}

.logo{
    margin: auto 10px;
}

.logo img{
    max-height: 55px;
}

/**/
.dropbtn {
    background-color: #e3e3ba;
    color: black;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
  }

  .user-icon{
    max-width: 70px;
    text-align: center;
    text-decoration: none;
    line-height: 3px;
    position: absolute;
    right: 8vw;
    top: 8px;
  }
  .user-icon span{
    font-size: 0.6rem;
  }

  .dropdown{
    margin: auto 0;
  }

  .categories-menu {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
/**/
#searchcontainer{
    margin: auto 0;
}

#searchbox{
    font-size: 1.3em;
    width: 50%;
    margin: 2% 25%;
}

#search-modal{
    display: none;
    width: 80vw;
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: 10vw;
    background-color: #e3e3ba;
    border-radius: 1%;
}

#search-results{
    display: block;
    margin: 0% 5%;
    background-color: white;
    padding-inline-start: unset;
    height: 69vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#search-results a{
    cursor: pointer; 
    color: black; 
    text-decoration: none;
}

#search-results li{
    height: 100px;
    width: 70vw;
    list-style: none;
    display: block;
    margin: 1vh 1vw;
}

#search-results li img{
    width: 100px;
    float: left;
}

#search-results li p{
    padding-top: 10px;
}


#cartbutton{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 0 0 0 15px;
}

#close-cart{
    color: tomato;
    margin: 2%;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font-size: 1.5rem;
}

#cart-view{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 410px;
    height: 100%;
    background-color: white;
    display: none;
    overflow-y: scroll;
    opacity: 1;
	animation-name: fadeInWidth;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInWidth {
	0% {
        width: 0px;	}
	100% {
        width: 410px;	}

}

.overlay{
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}

.cartproduct{
    height: 150px; 
}
.cartproduct img{
    height: 150px;
    float: left;
}
.cartproduct .product-details{
display: inline-block;
margin-top: 17px;
width: 230px;
}

.adjust-button, .add-cart, .pagbutton{
    color: black;
    background-color: #fffeff;
    border-radius: 7px;
    border-style: solid;
}

.adjust-button{width: 24px;}

.pagbutton{
    font-size: 1.5em;
    padding: 3px;
}

.nexticon{
    display: inline-block;
    position: relative;
    top: 350px;
    left: 50%;
    font-size: 1.5rem;
}

.previcon{
    display: inline-block;
    position: relative;
    top: 350px;
    left: -50%;
    font-size: 1.5rem;
}

.prev{
    float: left;
    min-width: 40px;
}

.next{
    float: right;
    min-width: 40px;
}

#cart-total-p{
    float: right;
    margin-right: 25px;
    margin-top: 1%;
}

#home-hero{
    padding-top: 80px;
}

#slider{
    text-align: center;
    width: 100%;
}

.slideimg{
    width: 100%;
    opacity: 1;

}

.slidernav{
    position: relative;
    left: 50%;
    bottom: 40px;
    width: 95%;
    transform: translate(-50%,0%);
}

.slidercircle{
    margin-top: 9px;
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 50%;
    border-color: lightgray;
    border-style: solid;
    display: inline-block;
    text-align: center;
}

.slidebutton{
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.slidercircle:hover {
 background-color: gray;
}

.cActive{
    background-color: black;
}



#category-selector{
    max-width: 40%;
    margin: auto;
}

#category-selector ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    overflow-x: scroll;

}

#category-selector ul li a{
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

#category-selector ul li a:hover{
    background-color: lightgray;
}

.product-view{
    min-height: 60vh;
    background-color: whitesmoke;
    text-align: center;
    padding: 16px 15%;
}

footer{
    height: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
}
footer p{
    padding: 30px;
    text-align: center;
}

.product{
    width: 20%;
    height: 260px;
    padding: 5px;
    display: inline-grid;
    margin: 3px;
    max-width: 270px;
    background-color: white;
    user-select: none;
}

.product:hover{
    transition: box-shadow, 0.5s;
    box-shadow: 0px 0px 4px black
}

.product img{
    max-width: 80%;
    margin: 10px auto;
    background: white;
}
.product-name{
    height: 40px;
    overflow: auto;
    font-size: 0.8em;
}

#cart-view::-webkit-scrollbar, #category-selector ul::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #cart-view::-webkit-scrollbar-track, #category-selector ul::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  #cart-view::-webkit-scrollbar-thumb, #category-selector ul::-webkit-scrollbar-thumb {
    background: #4f2170;
    border-radius: 10px; 
  }
  
  /* Handle on hover */
  #cart-view::-webkit-scrollbar-thumb:hover, #category-selector ul::-webkit-scrollbar-thumb:hover {
    background: #311546; 
  }
  
.category-image{
    float: left;
    max-height: 300px;
}

.add-menu{
    padding: 110px 0;
}

.category-price{
    font-weight: bold;
    font-size: x-large;
}

.category-description{
    text-align: left;
}

.category-title{
    text-align: left;
    margin-top: 2px;
}

#checkout-view{
    margin: 0vw 5vw 7vh 5vw;
    max-width: 550px;
}

#paymentbutton {
    margin: 60px 0px 0px 10px;
}

#login-view{
    text-align: center;
    margin: 5vh 35vw;
    padding: 1rem;
    border-style: solid;
    border-width: thin;
}

#login-view form{
    text-align: left;
}

#login-view form input{
    width: 100%;
    margin-bottom: 10px;
}

/*Media querys*/

  @media (max-width: 420px)  {
    .product{
        width: 38%;
    }
    #cart-view{
        width: 100%;
    }
    .cartproduct{
        height: auto;
        margin-bottom: 10px;
    }
    .cartproduct .product-details{
        width: auto;
        text-align: center;
        margin-top: 0px;
        display: block;
    }

    .cartproduct img{
        margin: auto;
        display: block;
        float: none;
    }
    .category-image{
        float: none;
        width: 100%;
    }

    .links{
        display: none;
    }

    #login-view{
        margin: 5vh 15vw;
    }

    .nexticon{
        left: 47%;
    }
    
    .previcon{
        left: -47%;
    }

    .slidercircle {
        margin-top: 20px;
        height: 10px;
        width: 10px;
    }

    .dropbtn{
        display: none;
    }

    .fa-search span{
        display: none;
    }
    #searchcontainer{
        margin: auto;
    }
    .ham-icon{
        display: inline-block;
    }
}

@media (max-width: 768px)  {
    .product{
        height: 210px;
    }
    .product-view{
        padding: 16px 7%;
    }

    #category-selector {
        max-width: 85%;
    }

    .nexticon{
        top: 234px;
    }
    
    .previcon{
        top: 234px;
    }
}

@media (min-width: 1460px) {
    .product{
        height: 325px;
    }

    #search-modal {
        width: 50vw;
        left: 25vw;
    }
}

/*Animations*/
.slideimg, .add-cart, .product, #cart-overlay, .adjust-qty, #search-modal, #search-results li{
    animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.25s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
